NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_REF=
SUPABASE_DB_WEBHOOK_SECRET=
SUPABASE_PINGS_SECRET=
CAPTCHA_SECRET_TOKEN=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
RESEND_API_KEY=
DATABASE_URL=
BETTER_AUTH_SECRET=
CLOUDFLARE_TUNNEL_TOKEN=
